LS_ACCESS_TOKEN=...
LS_SERVICE_NAME=fib-workshop
LS_SERVICE_VERSION=v0.1.0
# LS Metrics
PROJECT_DOMAIN=see metrics section in projetc settings: ...currently reporting for project xyx
# OpenTelemetry Environment Variable Specification
# https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/
OTEL_EXPORTER_OTLP_SPAN_ENDPOINT=ingest.lightstep.com:443
OTEL_LOG_LEVEL=debug
OTEL_RESOURCE_ATTRIBUTES=os.type=linux,os.name=Ubuntu,host.hostname=fib.workshop.com,deployment.region=eu-west1,deployment.environment=workshop
OTEL_TRACES_SAMPLER=traceidratio
OTEL_TRACES_SAMPLER_ARG=0.01
# OTEL_TRACES_SAMPLER=always_on
# Be careful about using ^^^^^^ sampler in a production application with significant traffic:
# a new trace will be started and exported for every request.
